{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

    <title>convenience</title>
</head>
<style>
    .font-heading {
        font-family: 'Montserrat', sans-serif;
    }
    .slider-btn.active {
        background-color: #fbbf24; /* purple-500 */
    }
    .slider-btn.inactive {
        background-color: #6b7280; /* gray-500 */
    }
    .date-ribbon {
        position: absolute;
        top: 16px;
        left: -32px;
        background: #1E3A8A;
        color: #fff;
        padding: 8px 16px;
        transform: rotate(-45deg);
        transform-origin: top left;
        text-align: center;
        width: 100px;
        font-size: 12px;
    }
    .icons li {
        list-style-type: none;
        background: rgb(86, 86, 247);
        color: #fff;
        width: 40px;
        height: 40px;
        margin: 0 0.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      
      .icons li:hover {
        background: #edffec;
        color: #000;
      }
    </style>
<style>
    #back-to-top {
        display: none;
        position: fixed;
        bottom: 30px; 
        right: 30px;
        z-index: 99;
        font-size: 18px;
        background-color: #6a0dad;
        color: white;
        border: none;
        border-radius: 4px; 
        padding: 10px 15px;
        cursor: pointer;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s;
    }
    
    #back-to-top:hover {
        background-color: #5a0cac; /* Slightly darker purple */
    }
    .font-handwriting {
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;    }
    .footer-bg {
        background-color: #1a1a1a;
    }
    .footer-link:hover {
        color: #f59e0b;
    }
    .underline-custom {
        position: relative;
        display: inline-block;
    }
    .underline-custom::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.25rem; /* Adjust this value for the desired space between text and underline */
        width: 100%;
        height: 0.25rem; /* Adjust this value for the thickness of the underline */
        background-color: #f59e0b;
        z-index: -1;
    }
</style>
<body class="bg-white text-slate-500">
    <header>
        <nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
            <div class="max-w-screen-3xl flex flex-wrap items-center justify-around mx-auto py-8">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-handwriting font-semibold text-black whitespace-nowrap">Convenience Church</span>
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-full text-lg px-8 py-2 text-center font-handwriting">Donate </button>
                <button type="button" class="text-purple-500  font-medium rounded-lg text-sm px-4 py-2 text-center hover:text-white">
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                    </svg>                      
                </button>
                <button type="button" class="text-purple-500  font-medium rounded-lg text-sm px-4 py-2 text-center hover:text-white">
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M7.926 10.898 15 7.727m-7.074 5.39L15 16.29M8 12a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm12 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm0-11a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                    </svg>                      
                </button>
                <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                  </svg>
              </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
              <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white ">
                <li>
                  <a href="/" class="block py-2 px-3 text-white bg-purple-700 rounded md:bg-transparent md:text-purple-700 md:p-0" aria-current="page">Home</a>
                </li>
                <li>
                  <a href="#church" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-700 md:p-0 ">Our Church</a>
                </li>
                <li>
                    <button id="mega-menu-full-cta-image-button" data-collapse-toggle="mega-menu-full-image-dropdown" class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 ">Ministries <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg></button>
                </li>
                <li>
                  <a href="#contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-700 md:p-0 ">Contact</a>
                </li>
                <li>
                    <a href="/prayer" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-700 md:p-0 ">Prayer Requests</a>
                </li>
                <li>
                    <a href="#news" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-purple-700 md:p-0 ">News</a>
                 </li>
              </ul>
            </div>
            </div>
            <!--Mega menu-->
            <div id="mega-menu-full-image-dropdown" class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y    ">
                <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm text-gray-500   md:grid-cols-3 md:px-6">
                    <ul class="hidden mb-4 space-y-4 md:mb-0 md:block" aria-labelledby="mega-menu-full-image-button">
                        <li>
                            <a href="/about/#worship-team" class="hover:underline hover:text-blue-600  ">
                                Worship team
                            </a>
                        </li>
                        <li>
                            <a href="/about/#children-ministry" class="hover:underline hover:text-blue-600  ">
                                Children Ministry
                            </a>
                        </li>
                        <li>
                            <a href="/about/#youth-ministry" class="hover:underline hover:text-blue-600  ">
                                Youth ministry
                            </a>
                        </li>
                        <li>
                            <a href="/about/#adult-ministry" class="hover:underline hover:text-blue-600  ">
                                Adult Ministry
                            </a>
                        </li>
                    </ul>
                    <ul class="mb-4 space-y-4 md:mb-0">
                        <li>
                            <a href="/about/#community-outreach" class="hover:underline hover:text-blue-600  ">
                                Community Outreach
                            </a>
                        </li>
                        <li>
                            <a href="/about/#prayer-ministry" class="hover:underline hover:text-blue-600  ">
                                Prayer Ministry
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="p-8 bg-local bg-gray-500 bg-center bg-no-repeat bg-cover rounded-lg bg-blend-multiply hover:bg-blend-soft-light" style="background-image: url(/docs/images/dashboard-overview.png)">
                        <p class="max-w-xl mb-5 font-extrabold leading-tight tracking-tight text-xl font-handwriting text-white">Convenience Holy Church.</p>
                        <button type="button" class="inline-flex items-center px-2.5 py-1.5 text-xs font-medium text-center text-white border border-white rounded-lg hover:bg-white hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-700">
                            Get In Touch
                            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
          </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <button id="back-to-top" title="Back to Top">↑</button>
        
        <!--Contact Section-->
        {% include "contact.html" %}
        <footer class="footer-bg text-white py-12">
            <div class="container mx-auto px-4">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
                    <!-- Newsletter Section -->
                    <div>
                        <h2 class="text-xl font-semibold mb-4">Newsletter</h2>
                        <div class="h-1 w-10 bg-purple-500 mb-4"></div>
                        <p class="mb-4">Subscribe to our Newsletter to get upcoming events and be part of the ministry</p>
                        <a href="#" class="text-purple-500 hover:underline">Get Our Newsletter</a>
                        <form class="mt-4">
                            <input type="email" placeholder="Email" class="bg-gray-800 text-white py-2 px-4 w-full">
                            <button class="mt-2 py-2 px-4 bg-purple-500 hover:bg-purple-600 text-black w-full">Subscribe</button>
                        </form>
                    </div>
                    <!-- Latest News Section -->
                    <div>
                        <h2 class="text-xl font-semibold mb-4">Latest News</h2>
                        <div class="h-1 w-10 bg-purple-500 mb-4"></div>
                        <div class="space-y-4">
                            {% for blog in blogs %}
                            <a href="#{{blog.title}}">
                                <div class="flex items-center">
                                    <img src="{{blog.attachment.url}}" class="w-12 h-12 mr-4">
                                    <div>
                                        <a href="#" class="text-purple-500 hover:underline">{{ blog.title }}</a>
                                        <p class="text-sm">{{ blog.created_at|date }}</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Useful Links Section -->
                    <div>
                        <h2 class="text-xl font-semibold mb-4">Useful Links</h2>
                        <div class="h-1 w-10 bg-purple-500 mb-4"></div>
                        <ul class="space-y-2">
                            <li><a href="/about" class="footer-link">Who we are?</a></li>
                            <li><a href="#contact" class="footer-link">Support</a></li>
                            <li><a href="#contact" class="footer-link">Contact us</a></li>
                            <li><a href="/prayer" class="footer-link">Prayer request</a></li>
                            <li><a href="contact" class="footer-link">Volunteer</a></li>
                        </ul>
                    </div>
                    <!-- Instagram Section -->
                    <div>
                        <h2 class="text-xl font-semibold mb-4">Sermons</h2>
                        <div class="h-1 w-10 bg-purple-500 mb-4"></div>
                        <div class="grid grid-cols-2 gap-2">
                            {% for sermon in sermons %}
                            <div>
                                <img src="{{sermon.pastor.profile_pic.url}}" alt="Instagram" class="h-12 h-12 rounded-full object-cover">
                                <div class="mt-4">
                                    <audio controls class="w-full">
                                      <source src="{{ sermon.attachment.url }}" type="audio/mpeg">
                                      Your browser does not support the audio element.
                                    </audio>
                                  </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="mt-8 border-t border-gray-700 pt-4 flex flex-col md:flex-row justify-between text-gray-400 text-sm">
                    <p>&copy; 2024 Convenience Church. All rights reserved. Design by <a href="#" class="text-purple-500 hover:underline">syncher</a>.</p>
                    <div class="flex space-x-4 mt-2 md:mt-0">
                        <a href="#" class="hover:text-purple-500">Privacy Policy</a>
                        <a href="#" class="hover:text-purple-500">Terms & Conditions</a>
                        <a href="#" class="hover:text-purple-500">Copyright Policy</a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            // Get the button
let backToTopButton = document.getElementById("back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {
    scrollFunction();
};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        backToTopButton.style.display = "block";
    } else {
        backToTopButton.style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
backToTopButton.addEventListener('click', function() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
});
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
        e.preventDefault();

        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);

        const offset = 150;
        const elementPosition = targetElement.getBoundingClientRect().top + window.pageYOffset;
        const offsetPosition = elementPosition - offset;

        window.scrollTo({
            top: offsetPosition,
            behavior: 'smooth'
        });
    });
});
        </script>
</body>
</html>
  