<h2 id="contact" class="text-4xl font-bold mx-auto text-center font-handwriting mb-8">Get directions</h2>

<div id="contact" class="w-full h-4/5 mx-auto  bg-white 2xl:flex 2xl:justify-around xl:flex xl:justify-around lg:flex lg:justify-around shadow-xl rounded-2xl my-auto">
    <div class="flex flex-col justify-around">
      <div>
        <h2 class="font-bold text-xl text-blue-700 font-handwriting">Get in Touch!</h2>
      </div>
      <div class="flex flex-col space-y-2">
        <h3 class="font-sans font-thin text-lg cursor-pointer "><i class="text-blue-700 fas fa-envelope"></i> conveniencechurch@gmail.com</h3>
        <h3 class="font-sans font-thin text-lg cursor-pointer "><i class="text-blue-700 fas fa-phone"></i> +250 783126308</h3>
        <h3 class="flex-1"><i class="text-blue-700 fas fa-map-marker-alt"></i> KG 456st 45Ave</h3>
      </div>
      <div class="flex mx-auto">
        <ul class="icons flex space-x-2">
          <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/convenience"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/convenience-holy-church-337345300/"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/_convenience_church/"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col w-full bg-white my-4 lg:w-1/2 xl:w-1/2 2xl:w-1/2 shadow-lg rounded-2xl justify-between p-7">
      <div>
        <div><h2 class="text-lg p-4">Wanna Talk About</h2></div>
        <div class="grid grid-cols-3 gap-2">
          <button  class='bg-transparent border-2 border-blue-700 text-blue-700 hover:bg-blue-700 hover:text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50' >Prayer Request</button>
          <button  class='bg-transparent border-2 border-blue-700 text-blue-700 hover:bg-blue-700 hover:text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50' >Service</button>
          <button  class='bg-transparent border-2 border-blue-700 text-blue-700 hover:bg-blue-700 hover:text-white py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50' >Donation</button>
        </div>
      </div>
      <form action="" class="m-4">
        <div class="mb-4">
          <input type="text" placeholder="Your name" class="border-0 outline-none border-b-2 border-slate-500 appearance-none dark:border-slate-900  focus:outline-none bg-transparent  rounded-sm py-2 px-4 w-full  focus:ring-2 focus:ring-blue-600 focus:border-transparent peer">
        </div>
        <div class="mb-4">
          <input type="email" placeholder="Your email" class="border-0 outline-none border-b-2 border-slate-500 appearance-none dark:border-slate-900  focus:outline-none bg-transparent  rounded-sm py-2 px-4 w-full  focus:ring-2 focus:ring-blue-600 focus:border-transparent peer">
        </div>
        <div class="mb-4">
          <textarea placeholder="Your message" rows="4" class="border-0 outline-none border-b-2 border-slate-500 appearance-none dark:border-slate-900  focus:outline-none bg-transparent  rounded-sm py-2 px-4 w-full  focus:ring-2 focus:ring-blue-600 focus:border-transparent peer"></textarea>
        </div>
        <div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">Send Message</button>
        </div>
      </form>
    </div>
  </div>