<div id="default-carousel" class="relative w-full" data-carousel="slide" data-carousel-interval="10000">
    <!-- Carousel wrapper -->
    <div class="relative z-0 h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden z-0 duration-700 ease-in-out" data-carousel-item>
            <div class="grid z-0 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

              {% for sermon in sermons %}
                <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
                    <div class="p-4">
                      <div class="text-gray-500">
                        <span>{{ sermon.created_at|date }}</span>
                      </div>
                      <div class="mt-2 text-purple-600 font-semibold">
                        {{sermon.major_title}}
                      </div>
                      <div class="mt-2 text-2xl font-bold">
                        {{ sermon.title }}
                      </div>
                      <div class="mt-4 text-gray-700">
                        <p>{{ sermon.description }}<a href="#" class="text-purple-600">Read More</a></p>
                      </div>
                      <div class="mt-4 flex space-x-4">
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 19.121a1.5 1.5 0 002.121 0L12 14.243l4.757 4.878a1.5 1.5 0 002.121 0l1.414-1.414a1.5 1.5 0 000-2.121L14.243 12l4.878-4.757a1.5 1.5 0 000-2.121l-1.414-1.414a1.5 1.5 0 00-2.121 0L12 9.757 7.243 4.879a1.5 1.5 0 00-2.121 0L3.707 6.293a1.5 1.5 0 000 2.121L9.757 12l-4.878 4.757a1.5 1.5 0 000 2.121l1.414 1.414z"/>
                          </svg>
                        </button>
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v8m-4-4h8"/>
                          </svg>
                        </button>
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18M4 18h16a2 2 0 002-2V8a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                          </svg>
                        </button>
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17l4-4-4-4m8 8l-4-4 4-4"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="bg-gray-100 px-4 py-2 flex items-center">
                      <img src="{{sermon.pastor.profile_pic.url}}" alt="Author" class="h-10 w-10 rounded-full object-cover">
                      <span class="ml-4 text-gray-700">{{ sermon.pastor.name }}</span>
                    </div>
                    <div class="mt-4">
                      <audio controls class="w-full">
                        <source src="{{ sermon.attachment.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                    </div>
                  </div>
                  {% endfor %}
            </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <!-- Event Card -->
                {% for sermon in sermons %}
                <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
                    <div class="p-4">
                      <div class="text-gray-500">
                        <span>{{ sermon.created_at|date }}</span>
                      </div>
                      <div class="mt-2 text-purple-600 font-semibold">
                        {{sermon.major_title}}
                      </div>
                      <div class="mt-2 text-2xl font-bold">
                        {{ sermon.title }}
                      </div>
                      <div class="mt-4 text-gray-700">
                        <p>{{ sermon.description }}<a href="#" class="text-purple-600">Read More</a></p>
                      </div>
                      <div class="mt-4 flex space-x-4">
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 19.121a1.5 1.5 0 002.121 0L12 14.243l4.757 4.878a1.5 1.5 0 002.121 0l1.414-1.414a1.5 1.5 0 000-2.121L14.243 12l4.878-4.757a1.5 1.5 0 000-2.121l-1.414-1.414a1.5 1.5 0 00-2.121 0L12 9.757 7.243 4.879a1.5 1.5 0 00-2.121 0L3.707 6.293a1.5 1.5 0 000 2.121L9.757 12l-4.878 4.757a1.5 1.5 0 000 2.121l1.414 1.414z"/>
                          </svg>
                        </button>
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v8m-4-4h8"/>
                          </svg>
                        </button>
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18M4 18h16a2 2 0 002-2V8a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                          </svg>
                        </button>
                        <button class="focus:outline-none">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17l4-4-4-4m8 8l-4-4 4-4"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="bg-gray-100 px-4 py-2 flex items-center">
                      <img src="{{sermon.pastor.profile_pic.url}}" alt="Author" class="h-10 w-10 rounded-full object-cover">
                      <span class="ml-4 text-gray-700">{{ sermon.pastor.name }}</span>
                    </div>
                    <div class="mt-4">
                      <audio controls class="w-full">
                        <source src="{{ sermon.attachment.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                    </div>
                  </div>
                  {% endfor %}
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
